<div class="row mx-0 col-12 mx-auto d-flex justify-content-center">
    <table class="table table-bordered my-3">
        <tr>
            <td>Nombre</td>
            <td>{{ currentCliente.nombre }}</td>
        </tr>
        <tr>
            <td>Apellidos</td>
            <td>{{ currentCliente.apellidos }}</td>
        </tr>
        <tr>
            <td>Direción</td>
            <td>{{ currentCliente.direccion }}</td>
        </tr>
        <tr>
            <td>DNI</td>
            <td>{{ currentCliente.dni }}</td>
        </tr>
        <tr>
            <td>Teléfono</td>
            <td>{{ currentCliente.telefono }}</td>
        </tr>
        <tr>
            <td>Correo electrónico</td>
            <td>{{ currentCliente.email }}</td>
        </tr>
        <tr>
            <td>Nombre de usuario</td>
            <td>{{ currentCliente.nombre_usuario }}</td>
        </tr>
    </table>
</div>